 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&display=swap');

 :root {
     --colorMain: linear-gradient(23deg,
             rgba(47, 110, 163, 1) 0%,
             rgba(90, 81, 160, 1) 58%);
     --colorWhite: #fff;
     --colorShadow: #f2f2f2;
     --colorText: #0c3763bb;
     --colorBorder: #ddd;
     --colorBlack: #000;
     --colorGray: #c4c4c4;
     --colorPurple: #1b45b7;
     --hover: #f5f5f575;
     --hover2: rgba(47, 110, 163, 1);
     --boxShadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
     --boxShadowItem: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
     --colorRed: #e31f1f;
 }

 * {
     font-family: "Noto Sans Lao", sans-serif;
 }

 body {
     background: var(--colorShadow);
 }


 .no-scroll {
     overflow: hidden;
 }

 /* navbar style */
 .nav-calling {
     width: 100%;
     height: 28px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 5px;
     background: var(--colorShadow);


     & p {
         font-size: 10px;
         padding-top: 2em;

         & span {
             color: var(--colorPurple);
             cursor: pointer;
         }
     }
 }

 .nav-top {

     position: sticky;
     top: 0;
     z-index: 100;

     & .nav-main {
         display: flex;
         justify-content: space-around;
         align-items: center;
         background: var(--colorMain);
         color: var(--colorWhite);

         & .nav-logo {
             display: flex;
             justify-content: center;
             align-items: center;


             & div {
                 padding-top: 1.10em;
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 align-items: start;
                 margin-left: -.75em;

                 & h3 {
                     font-weight: bold;
                 }

                 & p {
                     margin-top: -1em;
                     font-size: 13px;
                 }
             }


         }

         & .nav-form-control {
             width: 45%;
             position: relative;


             & input {
                 width: 100%;
                 border: none;
                 outline: none;
                 padding: .55em 1.25em;
                 border-radius: 50em;
                 color: var(--colorPurple);
             }

             & .icon-search {
                 position: absolute;
                 top: 4px;
                 right: 4px;
                 z-index: 10;
                 color: var(--colorWhite);
                 padding: .38em 2em;
                 font-size: 15px;
                 border-radius: 50em;
                 background: var(--colorMain);
                 box-shadow: var(--boxShadow);
                 cursor: pointer;
             }
         }

         & .nav-notication {
             display: flex;
             gap: 18px;
             padding-top: .5em;

             & div {
                 width: 80px;
                 /* height: 40px;  */
                 border-radius: 50em;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 cursor: pointer;
                 transition: all .2s ease-in;
                 font-size: 22px;
                 flex-direction: column;

                 & p {
                     font-size: 12px;
                 }
             }

             & div:hover {
                 /* color: var(--hover); */
                 transform: scale(1.1);
             }
         }

         & .nav-notication div:nth-child(2) {
             position: relative;

             & span {
                 position: absolute;
                 top: -.85em;
                 right: 1em;
                 width: 23px;
                 height: 23px;
                 border-radius: 50em;
                 overflow: hidden;
                 font-size: 12px;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 background: var(--colorRed);

             }
         }
     }

     & .nav-menu {
         width: 100%;
         box-shadow: var(--boxShadow);
         background: var(--colorWhite);
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: .1em 2em;

         & .menu-list {
             position: relative;
             display: flex;
             gap: 1.5em;

             & li {
                 list-style: none;
                 font-size: 14px;
                 cursor: pointer;
                 padding: .85em;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 border-radius: .2em;
                 gap: 7px;
                 transition: all .2s ease-in-out;
                 font-weight: 500;
                 color: var(--colorText);


             }

             & li:hover {
                 /* background: var(--hover2); */
                 color: var(--hover2);
                 cursor: pointer;
             }

             & .card-show-products {
                 width: 300px;
                 box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                 position: absolute;
                 left: 0;
                 top: 3.5em;
                 padding: 1em;
                 display: flex;
                 flex-direction: column;
                 gap: 5px;
                 z-index: 20;
                 border-radius: .3em;
                 transition: all .3s ease-in-out;
                 background: var(--colorWhite);

                 & .arrow-item {
                     position: inherit;
                     left: 1em;
                     top: -.68em;
                     width: 20px;
                     height: 20px;
                     transform: rotate(45deg);
                     background: var(--colorWhite);
                     border-top: 1px solid var(--colorBorder);
                     border-left: 1px solid var(--colorBorder);
                 }

                 & .item {
                     display: flex;
                     gap: 10px;
                     padding: .85em;
                     border-radius: .3em;
                     font-size: 13px;
                     transition: all .2s ease-in-out;

                 }

                 & .item:hover {
                     background: var(--hover2);
                     cursor: pointer;
                     color: var(--colorWhite);
                 }
             }

         }
     }
 }


 /* shoping style */
 .container-contents {
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 10px;
     justify-content: center;
     align-items: center;
     padding: 1em 2em;
     background: var(--colorShadow);

     & .card-items {
         width: 100%;
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
         gap: 8px;


         & .item-now {
             width: 100%;
             box-shadow: var(--boxShadowItem);
             /* height: 470px; */
             cursor: pointer;
             transition: all .2s ease-in-out;
             border-radius: .2em;
             background: var(--colorWhite);
             overflow: hidden;

             & .box-image {
                 width: 100%;
                 height: 270px;
                 overflow: hidden;


                 & img {
                     width: 100%;
                     height: 100%;
                     transition: all .2s ease-in;
                     object-fit: cover;
                 }
             }

             & .box-shoping {
                 width: 100%;
                 min-height: 104px;
                 height: auto;
                 /* border-top: 1px solid var(--colorGray); */
                 position: relative;
                 padding: .5em;

                 & h3 {
                     font-weight: 400;
                     font-size: 14px;
                     width: 100%;
                     display: -webkit-box;
                     -webkit-box-orient: vertical;
                     -webkit-line-clamp: 3;
                     overflow: hidden;
                 }

                 & h3:hover {
                     color: var(--colorText);
                 }

                 & .btn-price-add {
                     width: 100%;
                     position: absolute;
                     left: 0;
                     bottom: 0;
                     padding: .5em;
                     display: flex;
                     justify-content: space-between;
                     align-items: end;

                     & div {

                         & span {
                             font-size: 10px;
                             text-decoration: line-through;
                         }

                         & h3 {
                             font-size: 16px;
                             font-weight: 600;
                             color: var(--colorRed);
                         }
                     }

                     & button {
                         width: 100px;
                         padding: .4em;
                         border: none;
                         outline: none;
                         box-shadow: var(--boxShadowItem);
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         gap: 5px;
                         background: var(--colorWhite);
                         border-radius: .3em;
                         transition: all .2s ease-in-out;
                         color: var(--colorText);
                         font-size: 13px;
                         margin-bottom: .3em;
                         margin-right: .3em;
                     }

                     & button:hover {
                         background: var(--colorMain);
                         color: var(--colorWhite);
                         box-shadow: none;
                     }
                 }
             }
         }

         & .item-now:hover {
             transform: scale(1.012);

             & .box-image {

                 & img {
                     transform: scale(1.020);

                 }
             }
         }
     }
 }


 /* dailog style */
 .card-dailog {
     width: 100%;
     height: 100vh;
     background: #00000084;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 9999;
     /* position:sticky; */

     display: flex;
     justify-content: center;
     align-items: center;

     & .dailog {
         width: 65%;
         height: auto;
         background: var(--colorWhite);
         position: relative;
         /* overflow: auto; */
         border-radius: .35em;
         /* padding: 2em; */
         display: flex;


         & .close-dailog {
             position: absolute;
             right: -1em;
             top: -1em;
             z-index: 99999;
             width: 40px;
             height: 40px;
             background: var(--colorWhite);
             border-radius: 50em;
             display: flex;
             justify-content: center;
             align-items: center;
             cursor: pointer;
         }

         & .card-dailog-image {
             width: 60%;
             height: 100%;
         }

         & .card-dailog-content {
             width: 100%;
             padding: 2em;
             line-height: 15px;

             & h3 {
                 font-size: 24px;
                 font-weight: 600;
                 color: var(--colorText);
             }

             & p {
                 font-size: 12px;
             }

             & select {
                 margin-top: -5em;
                 margin-bottom: 1em;
                 width: 30%;
                 padding: .2em 0 .2em 1em;
                 border: 1px solid var(--colorText);
                 outline: none;
                 color: var(--colorText);
                 border-radius: .2em;
             }

             & .size-moderm {
                 display: flex;
                 gap: 5px;
                 margin-top: -.5em;


                 & span {
                     padding: .5em 1em;
                     border-radius: 50em;
                     background: var(--colorShadow);
                     color: var(--colorText);
                     font-size: 12px;
                     cursor: pointer;
                 }
             }

             & .card-button-preview {
                 padding: 1em 0;
                 display: flex;
                 width: 100%;
                 justify-content: center;
                 align-items: center;
                 gap: 20px;

                 & div {
                     width: 60%;
                     display: flex;


                     & p {
                         width: 100%;
                         background: var(--colorShadow);
                         padding: 1em;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                     }

                     & p:nth-child(1) {
                         cursor: pointer;
                         border-right: 1px solid var(--colorGray);
                         border-top-left-radius: .3em;
                         border-bottom-left-radius: .3em;
                     }

                     & p:nth-child(2) {
                         font-size: 14px;
                         font-weight: 600;
                     }

                     & p:nth-child(3) {
                         border-bottom-right-radius: .3em;
                         border-top-right-radius: .3em;
                         cursor: pointer;
                         border-left: 1px solid var(--colorGray);

                     }
                 }


                 & button {
                     width: 60%;
                     padding: 1.1em;
                     border: none;
                     outline: none;
                     /* box-shadow: var(--boxShadowItem); */
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     gap: 5px;
                     background: var(--colorMain);
                     border-radius: .3em;
                     transition: all .2s ease-in-out;
                     color: var(--colorWhite);
                     font-size: 13px;
                     margin-top: -1.2em;
                 }

             }
         }
     }
 }

 /* cart style */
 .card-cart-products {
     width: 100%;
     height: 100vh;
     background: var(--colorShadow); 
     padding: 1em;
     display: flex;justify-content: center;align-items: center;
     flex-direction: column;

     & .card-view {
        width: 90%;
        height: 80vh;
        background: var(--colorWhite);
        box-shadow: var(--boxShadow);
        border-radius: .2em;

        & .dailog {
            width: 100%;
            height: auto;
            background: var(--colorWhite);
            position: relative;
            /* overflow: auto; */
            border-radius: .35em;
            /* padding: 2em; */
            display: flex;
   
   
            & .close-dailog {
                position: absolute;
                right: -1em;
                top: -1em;
                z-index: 99999;
                width: 40px;
                height: 40px;
                background: var(--colorWhite);
                border-radius: 50em;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
   
            & .card-dailog-image {
                width: 60%;
                height: 100%;
            }
   
            & .card-dailog-content {
                width: 100%;
                padding: 2em;
                line-height: 15px;
   
                & h3 {
                    font-size: 24px;
                    font-weight: 600;
                    color: var(--colorText);
                }
   
                & p {
                    font-size: 12px;
                }
   
                & select {
                    margin-top: -5em;
                    margin-bottom: 1em;
                    width: 30%;
                    padding: .2em 0 .2em 1em;
                    border: 1px solid var(--colorText);
                    outline: none;
                    color: var(--colorText);
                    border-radius: .2em;
                }
   
                & .size-moderm {
                    display: flex;
                    gap: 5px;
                    margin-top: -.5em;
   
   
                    & span {
                        padding: .5em 1em;
                        border-radius: 50em;
                        background: var(--colorShadow);
                        color: var(--colorText);
                        font-size: 12px;
                        cursor: pointer;
                    }
                }
   
                & .card-button-preview {
                    padding: 1em 0;
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
   
                    & div {
                        width: 60%;
                        display: flex;
   
   
                        & p {
                            width: 100%;
                            background: var(--colorShadow);
                            padding: 1em;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
   
                        & p:nth-child(1) {
                            cursor: pointer;
                            border-right: 1px solid var(--colorGray);
                            border-top-left-radius: .3em;
                            border-bottom-left-radius: .3em;
                        }
   
                        & p:nth-child(2) {
                            font-size: 14px;
                            font-weight: 600;
                        }
   
                        & p:nth-child(3) {
                            border-bottom-right-radius: .3em;
                            border-top-right-radius: .3em;
                            cursor: pointer;
                            border-left: 1px solid var(--colorGray);
   
                        }
                    }
   
   
                    & button {
                        width: 60%;
                        padding: 1.1em;
                        border: none;
                        outline: none;
                        /* box-shadow: var(--boxShadowItem); */
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        background: var(--colorMain);
                        border-radius: .3em;
                        transition: all .2s ease-in-out;
                        color: var(--colorWhite);
                        font-size: 13px;
                        margin-top: -1.2em;
                    }
   
                }
            }
        }

     }

 }





 /* screen small */
 @media screen and (max-width: 700px) {

     .container-contents {
         padding: 1em;


         & .card-items {
             width: 100%;
             display: grid;
             grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
             gap: 8px;

             & .item-now {

                 & .box-image {
                     height: 220px;
                 }

                 & .box-shoping {

                     & .btn-price-add {

                         & button {
                             width: 60px;
                         }
                     }
                 }
             }
         }
     }

     .card-dailog {


         & .dailog {
             width: 90%;
         }
     }
 }